body {
    font-family: 'Roboto', sans-serif;
}
.header{
    font-size: 14px;
}
.carouselh3{
    background-color: aqua;
}
.carouselh4{
    background-color: blanchedalmond;
}
.carouselp{
    color: white;
    background-color: black;
}
.crimage{
    width: 500px;
    height: 500px;
}
.nav-link{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: black;
}
.description{
    background-color: rgb(50, 50, 50);
    height: 150px;
    align-content: center;
    text-align: center;
    color: white;
}

.wrap {
    width: 80%;
}


h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  

  .row,
  .row > .column {
    padding: 8px;
  }
  
  
  .column {
    float: left;
    width: 33.33%;
    display: none; 
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .content {
    background-color: white;
    padding: 10px;
  }
  

  .show {
    display: block;
  }

  
  

  .btn:hover {
    background-color: #ddd;
  }
  
 
  .btn.active {
    background-color: #666;
     color: white;
  }